#habilidades,
#sobre {
  padding: 40px 20px;
}
.project,
.skill {
  transition: transform 0.3s ease-in-out;
}
#contatos,
section {
  background-color: #fff;
  padding: 20px;
}
#contatos h2,
body {
  color: #333;
}
.contact-list i,
.technologies img {
  margin-right: 5px;
}
.contact-list a,
nav a {
  text-decoration: none;
  font-weight: 700;
}
.project-link,
footer,
header {
  background-color: #333;
  color: #fff;
}
footer,
header,
nav a {
  color: #fff;
}
body,
footer p,
nav ul {
  margin: 0;
}
body {
  opacity: 1;
  animation: 1.5s ease-in-out fadeIn;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 60px 0 0;
  background-color: #f4f4f4;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 10;
}
#habilidades,
.profile-container {
  justify-content: center;
  display: flex;
}
.logo img {
  width: 50px;
  height: 50px;
}
nav {
  margin-right: 40px;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}
.profile-picture,
nav li {
  margin-right: 20px;
}
.about-content span,
.contact-list a:hover,
.text-wrapper span,
nav a:hover {
  color: green;
}
section {
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-container {
  align-items: center;
  flex-wrap: wrap;
}
.profile-picture {
  border-radius: 50%;
  max-width: 200px;
}
.about-content,
.text-wrapper {
  max-width: 600px;
}
.about-content h2,
.text-wrapper h2 {
  text-align: center;
  margin-bottom: 50px;
}
.about-content p,
.text-wrapper p {
  text-align: justify;
  margin-bottom: 30px;
}
#projetos h2,
.button-wrapper,
.contact-content,
.project-content h3,
.skill span,
footer {
  text-align: center;
}
.tech {
  display: flex;
  justify-content: center;
}
.skill {
  display: inline-block;
  margin: 20px 10px;
}
.skill:hover {
  transform: scale(1.2);
}
.skill span {
  display: block;
  margin-top: 5px;
  color: #555;
}
#projetos h2 {
  margin-bottom: 50px;
  color: #333;
}
.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: calc(50% - 10px);
  margin-bottom: 20px;
}
.project:hover {
  transform: scale(1.03);
}
.project-image {
  width: 100%;
  height: 50%;
  border-bottom: 2px solid #ddd;
}
.project-content {
  padding: 15px;
}
#projetos h3,
.contact-list li {
  margin-bottom: 10px;
}
#projetos p {
  margin-top: 0;
}
.project-link {
  display: inline-block;
  padding: 8px 15px;
  margin-top: 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}
.project-link:hover {
  background-color: green;
}
.technologies {
  margin-top: 10px;
}
#contatos {
  margin-top: 20px;
}
.contact-content {
  max-width: 600px;
  margin: 0 auto;
}
#contatos p {
  color: #555;
}
.contact-list {
  list-style: none;
  padding: 0;
}
.contact-list i {
  color: #555;
}
.contact-list a {
  color: #333;
}
footer {
  padding: 10px 0;
}
@media screen and (max-width: 768px) {
  .project,
  .tech,
  .text-wrapper {
    width: 100%;
  }
  #projetos,
  .profile-container {
    flex-direction: column;
  }
  .tech {
    flex-wrap: wrap;
  }
  .profile-picture {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
